@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400&display=swap');

:root,
:root[data-theme='dark'] {
    --primary-color: #d7d7d7;
    --primary-bg-color: #181818;
    --secondary-bg-color: #4F4F4F;
    --border-color: #d7d7d7;
    --menu--bg-color: #4F4F4F;
    --accordion-bg-color: #cccccc;

    --title-color: #d7d7d7;
    --text-color: #d7d7d7;
    --link-color: #d7d7d7;
    --icon-color: #d7d7d7;
}

:root[data-theme='light'] {
    --primary-color: #181818;
    --primary-bg-color: #d7d7d7;
    --secondary-bg-color: #4F4F4F;
    --border-color: #181818;
    --menu--bg-color: #a8a8a8;

    --title-color: #181818;
    --text-color: #181818;
    --link-color: #181818;
    --icon-color: #181818;
}

html[data-theme='light'] .brand_Logo {
    filter: invert(1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-bg-color) transparent;
}

body {
    background: var(--primary-bg-color);
    font-family: 'Montserrat Alternates', Montserrat, sans-serif;
    font-weight: 100px;
    color: var(--text-color);
    font-size: 16px;
    width: 100vw;
    height: 100vh;

}

::-webkit-scrollbar {
    width: 0.1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-bg-color);
    border-radius: 500px;
}

i {
    color: var(--icon-color);
    font-size: 24px
}

a {
    text-decoration: none;
    color: var(--primary-color)
}

a:hover {
    color: var(--primary-color);
    font-weight: 300;
}


h1 {
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
}

h2 {
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
}

p {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    text-align: justify;
}

spam {
    font-family: 'Montserrat Alternates', Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    color: var(--primary-color);
}

li {
    font-size: 16px;
}

.header {
    display: flex;
    flex-flow: row, wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px;
    background-color: transparent;
}

.header_brand .brand_Logo {
    width: 40px;
    height: 40px;
}

#toogleTheme {
    font-size: 24px;
    color: var(--primary-color);
    transition: ease-in-out .3s;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.menu_mobile {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.menu__item {
    display: flex;
    width: 100%;
}

.menu__link {
    display: flex;
    align-items: center;
}

.menu_mobile .menu_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;

}

.menu_Icon {
    color: var(--icon-color);
    font-size: 24px;
}

.menu_link.active,
.menu_link:hover {
    color: var(--icon-color);
    border: 1px solid var(--border-color);
}

.menu_Item {
    width: 100%;
}

.menu_social {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 32px;
    gap: 16px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 0px 24px;
    align-items: flex-start;
}

.main_content1 {
    display: flex;

    align-items: flex-start;
}

.content_linguagens {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
}

.menu--linguagens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color: var(--menu--bg-color);
}

.btn {
    display: flex;
    padding: 16px 112px;
    justify-content: space-between;
    align-items: flex-start;
    background: transparent;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {

    background-color: var(--menu--bg-color);
}


.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px 24px 24px;
    gap: 32px;
}

.projects__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.card__title {
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    padding: 0px 24px 24px 0px;
}

.card__cover {
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
    object-position: center;
}

.card__buttons {
    display: flex;
    align-items: center;
}

/**/

#idiomas {
    padding-top: 34px;
    padding-bottom: 34px;
}

#formacao {
    padding-bottom: 24px;
}

#experiencias {
    padding-bottom: 24px;
}

#voluntariado {
    padding-bottom: 24px;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 62px 62px 62px 62px;
    gap: 32px;
}

.about__content1,
.about__content2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3rem;
}

.about__photo {
    width: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    border-radius: 3rem;
    margin: 0 0 42px 0;
}

.about__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    margin: 32px
}

.about__icons {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px;
}

.about__icons i {
    font-size: 24px;
}

.about__content2 .col1,
.about__content2 .col2 {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.about__content2 .col1 .row1,
.about__content2 .col1 .row2 {
    display: flex;
    flex-direction: column;
}

#cursos {
    padding-bottom: 5rem;
}

.accordion__header {
    width: 100%;
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;
    background: var(--menu--bg-color);
    text-align: left;
    cursor: pointer;
}

.accordion__header span {
    font-family: 'Montserrat Alternates', Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: var(--primary-color);
}

.accordion__body {
    display: none;
    padding: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.accordion__item.active .accordion__header {
    background: var(--menu--bg-color);
}

.accordion__item.active .accordion__body {
    display: flex;
}

.adrress {

    font-family: 'Montserrat Alternates', Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    color: var(--primary-color);
}


.rodape {
    bottom: 0;
    align-items: center
}

.mini-texto {
    justify-content: center;
    font-size: 12px;
    padding: 12px;
}


@media (min-width: 350px) {
    .card__cover {
        width: 70%;
    }

    .sobre__card__cover {
        width: 70%;
    }

    .contact {
        padding: 6rem;
    }

    .contact p {
        width: 80%;
    }

    main {
        display: flex;
        align-items: flex-start;
    }

    .main__content1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    footer {
        margin: 0;
    }
}

@media (min-width: 768px) {
    .card__cover {
        width: 70%;
    }

    .sobre__card__cover {
        width: 70%;
    }

    .contact {
        padding: 6rem;
    }

    .contact p {
        width: 80%;
    }

    .main__content1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    footer {
        margin: 0;
    }
}

@media (min-width: 992px) {
    .projects__card {
        flex-direction: row;
        align-items: center;
    }

    .projects__card.card--reverse {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .card__cover {
        width: 50%;
    }

    .about {
        gap: 5rem;
    }

    .about__content1,
    .about__content2 {
        display: grid;
        grid-template-columns: 40% 60%;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 3rem;
    }

    .about__description h2 {
        text-align: left;
    }

    .description__buttons {
        justify-content: flex-start;
    }
}

.projects,
.about,
.main_content1 {
    padding: 8px 8px 8px;
}

@media (min-width: 1200px) {

    .projects__card {
        flex-direction: row;
        align-items: center;
    }

    .main__content1 .btn {
        width: auto;
    }

    .card__cover {
        width: 50%;
    }

    p,
    span,
    li {
        font-size: 1.15rem;
    }

    .card__buttons .btn,
    .description__buttons .btn {
        width: auto;
    }
}

@media (min-width: 1400px) {
    .header {
        padding: 1rem 15rem;
    }

    .projects__card {
        flex-direction: row;
        align-items: center;
    }

    .card__cover {
        width: 50%;
    }

    main {
        padding: 5rem 10rem 10rem 5rem;
    }

    .projects,
    .main_content1 {
        padding: 5rem 10rem 10rem 5rem;
    }

}